<!DOCTYPE html>

<html>

<head>
<title>Tytuł strony</title>
<link rel="stylesheet" href="css/style.css">
<script src="js/script.js"></script>
</head>

<body>
    <div class="row">
    <div class="first-col">
        <ul class="rates">

            </ul>
    </div>
    <div class="second-col">
                <ul class="rates2">
            
            </ul>
    </div>
    </div>
    </body>
</body>

</html>